<section class="card tab-panel active" data-tab="charts">
  <div class="panel">
    <div class="panel-header">
      <div>
        <p>Gráficos de distribuição percentual e valores em USDT.</p>
      </div>
    </div>
    <div class="charts-grid">
      <div class="chart-container">
        <h4 class="chart-title">Distribuição (%)</h4>
        <canvas id="walletChart"></canvas>
      </div>
      <div class="chart-container">
        <h4 class="chart-title">Valores (USDT)</h4>
        <canvas id="walletBarChart"></canvas>
      </div>
    </div>
  </div>
</section>


