<div id="loading-overlay" class="loading-overlay">
  <div class="loading-spinner">
    <div class="spinner"></div>
    <p>Carregando dados...</p>
  </div>
</div>

<div class="app" id="app-root">
  <div data-component="components/topbar/Topbar.html"></div>
  <div data-component="components/stats/StatGrid.html"></div>
  <div data-component="components/asset-strip/AssetStrip.html"></div>
  <div data-component="components/tabs/Tabs.html"></div>
  <div data-component="components/charts/ChartsPanel.html"></div>
  <div data-component="components/balances/BalancesPanel.html"></div>
  <div data-component="components/orders/OrdersPanel.html"></div>
  <div data-component="components/simulation/SimulationModal.html"></div>
</div>
